
html {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	padding:0px; 
	margin: 0px;
	border: 0px;
}

body h1 h2 h3 h4 h5 h6 p ul ol li {	
	padding:0px; 
	margin: 0px;
	border: 0px;
	font-size: 62.5%;
}

h1 h2 h3 h4 h5 h6 p ul ol li {	
	width:100%;
}

h1 {margin: 10px 0px 20px 0px}
h2 {margin: 10px 0px 15px 0px}
h3 {margin: 15px 0px 15px 0px}

* {
	box-sizing: border-box;
}



/**** Page Structure ****/

header.main {
	background-color: #159766;
	width: 100%;
	height:300px;
	background-image: url("../images/Symmetrical.png"), url("../images/Asymmetrical.png");
	background-repeat: no-repeat;
	background-position: 80px 100px, 850px 200px;
	padding-left: 250px;
	border-top: solid 40px #008B5E;
}


nav {
	background-color: #3c3c3c;
	width: 100%;
	padding: 14px;
	margin: 0px;
}

nav a {
	color:#ffffff;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.float-anchors li {
	padding: 0px 30px;
	border-right: solid 1px #757576;
	color: #ffffff;
	font-weight: 300;
	display: inline;
}

.head-strong	{
	font-size: 1.5em;
	line-height: 1.25em;
	font-weight: bold;
	color: #ffffff;
	padding: 100px 0px 0px 0px;
	margin: 0px;
}

.head-biglight {
	font-size: 3.125em;
	line-height: 1.4em;
	font-weight: 300;
	color: #ffffff;
	margin: 0px 0px 5px 0px;
}

.head-little {
	font-size: .875em;
	line-height: 1.4em;
	font-weight: 300;
	color: #ffffff;
	margin: 5px 0px;
}


.stripe	{
	width: 100%;
	padding: 5% 10% 5% 10%;
	margin: 10% 0%;
}

.stripe:nth-child(even)	{
	background-color: #F3F3F3;
}


.left-col	{
	float: left;
	width: 500px;
	margin: 50px 104px 50px 0px;
}

.right-col	{
	float: left;
	width: 500px;
	margin: 50px 0px;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}


/**** Begin Typography Definitions ****/

.light {
	font-weight: 300;
}

.regular {
	font-weight: normal;
}

.semibold {
	font-weight: 600;
}

.semibold-italic {
	font-weight: 600;
	font-style: italic;
}

.bold {
	font-weight: 700;
}

.bold-italic {
	font-weight: 700;
	font-style: italic;
}



h1	{
	font-size: 2.5em;
	line-height: 1.28em;
	font-weight: bold;
}

h2	{
	font-size: 1.8em;
	line-height: 1.333333em;
	font-weight: 600;
}

h3	{
	font-size: 1.8em;
	line-height: 1.333333em;
	font-weight: 600;

}


h5	{
	font-size: 1.6em;
	line-height: 1.375em;
	font-weight: normal;
}


p   {
	font-size: 1.4em;
	line-height: 1.428571em;
	color: #333333;
	font-weight: normal;

}

p.small {
	font-size: 1.3em;
	line-height: 1.384615em;
	font-weight: 300;
	color: #4e4e4e;
}



/*
.alert-head {
	font-size: 20px;
	line-height: 28px;
	font-style: light;
	color: #fff;
}

.alert-body {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	color: #fff;
}*/


.pl-head {
	color: #159766;
	border-bottom: 1px solid #dedddd;
	padding-bottom: 15px;
}

.stripe ul {
	margin: 50px 0px;
	padding: 0px;
}

.type-cards li {
	display: inline-block;
	float: left;
	width: 134px;
	height: 175px;
	border: 1px solid #D8D8D8;
	margin: 10px 20px 10px 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}


.type-sample {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0px 20px;
	height: 100px;
	width: 132px;
	font-size: 4.15em;
	text-align: center;
}


.family-name {
	position: absolute;
	top: 99px;
	left: 0px;
	height: 74px;
	width: 132px;
	text-align: center;
	font-size: .85em;
	padding: 16px 20px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #F3F3F3;
	border-top: 1px solid #D8D8D8;

}



.color-cards li {
	display: inline-block;
	float: left;
	width: 134px;
	height: 175px;
	border: 1px solid #D8D8D8;
	margin: 10px 20px 10px 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}

.color-values {
	position: absolute;
	top: 0px;
	left: 0px;
	border-top: 100px solid #159766;
    border-right: 132px solid #008B5D;
    -webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.color-name {
	position: absolute;
	top: 99px;
	left: 0px;
	height: 74px;
	width: 132px;
	text-align: center;
	font-size: .7em;
	line-height: 1.75em;
	text-transform: uppercase;
	padding: 16px 12px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #ffffff;
	border-top: 1px solid #D8D8D8;

}



.base-blue-card {
	border-top: 100px solid #005990;
    border-right: 132px solid #005082;
}

.base-gray-card {
	border-top: 100px solid #4E4E4E;
    border-right: 132px solid #464646;
}

.black-card {
	border-top: 100px solid #000000;
    border-right: 132px solid #000000;
}

.white-card {
	border-top: 100px solid #FFFFFF;
    border-right: 132px solid #FFFFFF;
}

.gray1-card {
	border-top: 100px solid #f3f3f3;
    border-right: 132px solid #f3f3f3;
}

.gray2-card {
	border-top: 100px solid #dedddd;
    border-right: 132px solid #dedddd;
}

.gray3-card {
	border-top: 100px solid #bababa;
    border-right: 132px solid #bababa;
}

.gray4-card {
	border-top: 100px solid #757576;
    border-right: 132px solid #757576;
}

.gray5-card {
	border-top: 100px solid #4e4e4e;
    border-right: 132px solid #4e4e4e;
}

.gray6-card {
	border-top: 100px solid #333333;
    border-right: 132px solid #333333;
}

.no-change-card {
	border-top: 100px solid #bababa;
    border-right: 132px solid #a7a7a7;
}

.increase-card {
	border-top: 100px solid #8ab64b;
    border-right: 132px solid #7ca444;
}

.decrease-card {
	border-top: 100px solid #f78c1e;
    border-right: 132px solid #de7e1b;
}

.incorrect-card {
	border-top: 100px solid #f05323;
    border-right: 132px solid #d84b20;
}

.correct-card {
	border-top: 100px solid #4daf4a;
    border-right: 132px solid #459e43;
}

.dove-card {
	border-top: 100px solid #2c98d4;
    border-right: 132px solid #2889bf;
}

.dovish-card {
	border-top: 100px solid #85d5f7;
    border-right: 132px solid #78c0de;
}

.centrist-card {
	border-top: 100px solid #e1f3f7;
    border-right: 132px solid #cadbde;
}

.hawkish-card {
	border-top: 100px solid #ffd181;
    border-right: 132px solid #e6bc74;
}

.hawk-card {
	border-top: 100px solid #f57f20;
    border-right: 132px solid #dc721d;
}
